<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/admin_add_internal_guide_post">
    {% csrf_token %}
  <table width="200" border="1">
    <tr>
      <th scope="row">name</th>
      <td><label for="textfield"></label>
      <input type="text" name="name-field" id="textfield" /></td>
    </tr>
    <tr>
      <th scope="row">department</th>
      <td><label for="textfield2"></label>
      <input type="text" name="dept-field" id="textfield2" /></td>
    </tr>
    <tr>
      <th scope="row">email</th>
      <td><label for="textfield3"></label>
      <input type="text" name="email-field" id="textfield3" /></td>
    </tr>
    <tr>
      <th scope="row">phone_no</th>
      <td><label for="textfield4"></label>
      <input type="text" name="phone-field" id="textfield4" /></td>
    </tr>
    <tr>
      <th scope="row">place</th>
      <td><label for="textfield5"></label>
      <input type="text" name="place-field" id="textfield5" /></td>
    </tr>
    <tr>
      <th scope="row">house_name</th>
      <td><label for="textfield6"></label>
      <input type="text" name="house-name-field" id="textfield6" /></td>
    </tr>
    <tr>
      <th scope="row">post</th>
      <td><label for="textfield7"></label>
      <input type="text" name="post-field" id="textfield7" /></td>
    </tr>
    <tr>
      <th scope="row">pin</th>
      <td><label for="textfield8"></label>
      <input type="text" name="pin-field" id="textfield8" /></td>
    </tr>
    <tr>
      <th scope="row">password</th>
      <td><label for="textfield9"></label>
      <input type="text" name="password-field" id="textfield9" /></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" name="add-button" id="button" value="Add" /></th>
    </tr>
  </table>
</form>
</body>
</html>
