<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
    <table width="200" border="1">
        <tr>
            <td><a href="/admin_add_internal_guide">Add Internal Guide</a></td>
        </tr>
        <tr>
            <td><a href="/admin_view_internal_guide">View Internal Guide</a></td>
        </tr>
        <tr>
            <td><a href="/admin_add_external_guide">Add External Guide</a></td>
        </tr>
        <tr>
            <td><a href="/admin_view_external_guide">View External Guide</a></td>
        </tr>
        <tr>
            <td><a href="/admin_add_group">Add Group</a></td>
        </tr>
        <tr>
            <td><a href="/admin_view_groups">View Group</a></td>
        </tr>
        <tr>
            <td><a href="/admin_add_schedule">Add Schedule</a></td>
        </tr>
        <tr>
            <td><a href="/admin_view_schedule">View Schedule</a></td>
        </tr>
        <tr>
            <td><a href="/admin_view_progress">View Progress</a></td>
        </tr>
        <tr>
            <td><a href="/admin_view_projects">View Projects</a></td>
        </tr>
        <tr>
            <td><a href="/admin_view_attendance">View Attendance</a></td>
        </tr>
    </table>
</form>
</body>
</html>
